* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

#container {
    display: flex;
    flex-flow: row wrap;
    background-color: grey;
    border: 18px solid red;
    margin: 0 auto;
}

button {
    display: block;
    margin: 5px auto 0;
    font-size: 20px;
    padding: 5px;
}